﻿<!--
  ELG SPECIFIC
 -->

<ng-container *ngIf="elemData.type === 'elg-link'">
    <a
        *ngIf="isExternal === false"
        [routerLink]="[elemData.link]"
        [class.inner-link]="hasClass(this.elemData.classList, 'elg-link')"
        [class.cms-link]="true"
        [class.disabled]="elemData.link === undefined"
        [style]="sanitizedStyle"
        [innerHTML]="elemData.value"
        [class.button-outlined]="hasClass(this.elemData.classList, 'button-outlined')"
        [class.button-filled]="hasClass(this.elemData.classList, 'button-filled')"
        [class.button-extended]="hasClass(this.elemData.classList, 'button-extended')"
    ></a>

    <a
        *ngIf="isExternal === true"
        [attr.href]="elemData.link"
        [class.inner-link]="hasClass(this.elemData.classList, 'elg-link')"
        [class.cms-link]="true"
        [style]="sanitizedStyle"
        [class.disabled]="elemData.link === undefined"
        target="_blank"
        rel="noopener"
        [innerHTML]="elemData.value"
        [class.button-outlined]="hasClass(this.elemData.classList, 'button-outlined')"
        [class.button-filled]="hasClass(this.elemData.classList, 'button-filled')"
        [class.button-extended]="hasClass(this.elemData.classList, 'button-extended')"
    ></a>
</ng-container>

<ng-container
    *ngIf="elemData.type === 'photo-modal'"
    [class.tall]="hasClass(this.elemData.classList, 'tall')"
    [class.wide]="hasClass(this.elemData.classList, 'wide')"
>
    <button (click)="openModal(elemData.src)">
        <img [attr.src]="elemData.src" [attr.alt]="elemData.alt" loading="lazy" />
    </button>
    <div [attr.id]="elemData.src" class="modal-window">
        <div>
            <button title="Close" class="modal-close" (click)="closeModal(elemData.src)">
                Close
            </button>
            <img [attr.src]="elemData.src" [attr.alt]="elemData.alt" loading="lazy" />
        </div>
    </div>
</ng-container>

<ng-container *ngIf="elemData.type === 'elg-catalogue-link'">
    <a
        [attr.href]="elemData.link"
        [style]="sanitizedStyle"
        [class.disabled]="elemData.link === undefined"
        [innerHTML]="elemData.value"
        [class.button-outlined]="hasClass(this.elemData.classList, 'button-outlined')"
        [class.button-filled]="hasClass(this.elemData.classList, 'button-filled')"
        [class.button-extended]="hasClass(this.elemData.classList, 'button-extended')"
    ></a>
</ng-container>

<!-- <ng-container *ngIf="elemData.type === 'elg-link-outlined'">
  <a *ngIf="isExternal === false" [routerLink]="[elemData.link]"
    [class.inner-link]="hasClass(this.elemData.classList, 'elg-link-outlined')"
    [class.inner-link-outlined]="hasClass(this.elemData.classList, 'elg-link-outlined')" [class.cms-link]="true"
    [class.disabled]="elemData.link === undefined" [style]="sanitizedStyle" [innerHTML]="elemData.value"></a>

  <a *ngIf="isExternal === true" [attr.href]="elemData.link"
    [class.inner-link]="hasClass(this.elemData.classList, 'elg-link-outlined')"
    [class.inner-link-outlined]="hasClass(this.elemData.classList, 'elg-link-outlined')" [class.cms-link]="true"
    [class.disabled]="elemData.link === undefined" [style]="sanitizedStyle" target="_blank" rel="noopener"
    [innerHTML]="elemData.value"></a>
</ng-container>

<ng-container *ngIf="elemData.type === 'elg-button-primary'">
  <a *ngIf="isExternal === false" mat-flat-button [routerLink]="[elemData.link]" color="primary" [class.cms-link]="true"
    [class.link-big]="hasClass(this.elemData.classList, 'elg-button-big')"
    [class.disabled]="elemData.link === undefined" [style]="sanitizedStyle">{{ elemData.value }}</a>

  <a *ngIf="isExternal === true" mat-flat-button [attr.href]="elemData.link" target="_blank" rel="noopener"
    color="primary" [class.cms-link]="true" [class.link-big]="hasClass(this.elemData.classList, 'elg-button-big')"
    [class.disabled]="elemData.link === undefined" [style]="sanitizedStyle">{{ elemData.value }}</a>
</ng-container>

<ng-container *ngIf="elemData.type === 'elg-button-accent'">
  <a *ngIf="isExternal === false" mat-flat-button [routerLink]="[elemData.link]" color="accent" [class.cms-link]="true"
    [class.link-big]="hasClass(this.elemData.classList, 'elg-button-big')"
    [class.disabled]="elemData.link === undefined" [style]="sanitizedStyle">{{ elemData.value }}</a>

  <a *ngIf="isExternal === true" mat-flat-button [attr.href]="elemData.link" target="_blank" rel="noopener"
    color="accent" [class.cms-link]="true" [class.link-big]="hasClass(this.elemData.classList, 'elg-button-big')"
    [class.disabled]="elemData.link === undefined" [style]="sanitizedStyle">{{ elemData.value }}</a>
</ng-container>


<ng-container *ngIf="elemData.type === 'elg-button-alternate'">
  <a *ngIf="isExternal === false" mat-flat-button [routerLink]="[elemData.link]" color="alternate"
    [class.cms-link]="true" [class.link-big]="hasClass(this.elemData.classList, 'elg-button-big')"
    [class.disabled]="elemData.link === undefined" [style]="sanitizedStyle">{{ elemData.value }}</a>

  <a *ngIf="isExternal === true" mat-flat-button [attr.href]="elemData.link" target="_blank" rel="noopener"
    color="alternate" [class.cms-link]="true" [class.link-big]="hasClass(this.elemData.classList, 'elg-button-big')"
    [class.disabled]="elemData.link === undefined" [style]="sanitizedStyle">{{ elemData.value }}</a>
</ng-container> -->

<ng-container *ngIf="elemData.type === 'topic-box'">
    <mat-card class="example-card" app-material-elevation [defaultElevation]="0" raisedElevation="3" [routerLink]="[elemData.link]">
        <mat-card-content [innerHTML]="this.sanitizedHtml"> </mat-card-content>
    </mat-card>
</ng-container>

<ng-container *ngIf="elemData.type === 'topic-box-catalogue'">
    <mat-card
        class="example-card"
        app-material-elevation
        [defaultElevation]="0"
        raisedElevation="4"
        (click)="navigate($event, elemData.link)"
    >
        <mat-card-content [innerHTML]="this.sanitizedHtml"> </mat-card-content>
    </mat-card>
</ng-container>

<ng-container *ngIf="elemData.type === 'elg-link-anchor'">
    <a
        [routerLink]="[elemData.link]"
        [fragment]="elemData.genericData"
        [class.inner-link]="hasClass(this.elemData.classList, 'elg-link')"
        [class.cms-link]="true"
        [style]="sanitizedStyle"
        (click)="scrollToAnchor(elemData.genericData)"
        [innerHTML]="elemData.value"
    ></a>
</ng-container>

<ng-container *ngIf="elemData.type === 'widget-top-categories'">
    <section class="top-box pt-5">
        <div class="row">
            <div class="col-md-12">
                <h2>Top categories</h2>
            </div>

            <div class="category__wrapper">
                <ng-container *ngFor="let category of topCategories; let i = index">
                    <div *ngIf="i < 12 || showAllCategories" class="col-12 col-sm-6 col-md-3">
                        <a class="top-category" [href]="'/catalogue/?function__term=' + encodeKey(category.key)"
                            >{{ category.key }} ({{ category.doc_count }})</a
                        >
                    </div>
                </ng-container>
            </div>
            <!-- <div class="col-md-12 mt-3">
      <a *ngIf="!showAllCategories" href="" (click)="toggleShowAllCategories($event)">Show all</a>
      <a *ngIf="showAllCategories" href="" (click)="toggleShowAllCategories($event)">Show less</a>
    </div> -->
        </div>
    </section>
</ng-container>

<div *ngIf="elemData.type === 'widget-services' || elemData.type === 'widget-lr' || elemData.type === 'widget-organizations'">
    <p>Loading...</p>
</div>

<ng-container *ngIf="elemData.type === 'widget-recently-updated'">
    <section class="top-box">
        <div class="row">
            <div class="col-md-12">
                <h2>Recently updated</h2>
            </div>

            <ng-container *ngFor="let recent of recentlyUpdatedTech; let j = index">
                <div *ngIf="j < 4 || (showAllRecents && j < 10)" class="item-box col-md-5" [class.offset-md-1]="j % 2 !== 0">
                    <a
                        *ngFor="let fun of recent.functions"
                        class="item-box__type"
                        [href]="'/catalogue/?function__term=' + encodeKey(fun)"
                        >{{ fun }}</a
                    >

                    <h3 class="item-box__title">
                        <a [href]="getServiceUrl(recent.entity_type, recent.resource_type, recent.id)">{{ recent.resource_name }}</a>
                    </h3>
                    <p class="item-box__description">{{ recent.description }}</p>
                    <div class="item-box__seen-updated">
                        <span class="item-box__seen"
                            ><i
                                ><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path
                                            d="M8.00001 14C12.707 14 15.744 8.716 15.871 8.492C16.042 8.188 16.043 7.816 15.872 7.512C15.746 7.287 12.731 2 8.00001 2C3.24501 2 0.251005 7.289 0.126005 7.514C-0.0429946 7.817 -0.0419946 8.186 0.128005 8.489C0.254005 8.713 3.26901 14 8.00001 14ZM8.00001 4C10.839 4 13.036 6.835 13.818 8C13.034 9.166 10.837 12 8.00001 12C5.15901 12 2.96201 9.162 2.18101 7.999C2.95801 6.835 5.14601 4 8.00001 4Z"
                                            fill="#546E7A"
                                        />
                                        <path
                                            d="M8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z"
                                            fill="#546E7A"
                                        />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <path d="M0 0H16V16H0V0Z" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </i>
                            {{ recent.views }}</span
                        >
                        <span class="item-box__updated">updated {{ recent.last_date_updated | date: 'dd.MM.yyyy' }}</span>
                    </div>
                </div>
            </ng-container>

            <div class="col-md-12 mt-2">
                <a *ngIf="!showAllRecents" href="" (click)="toggleShowAllRecent($event)">Show more</a>
                <a *ngIf="showAllRecents" href="" (click)="toggleShowAllRecent($event)">Show less</a>
            </div>
        </div>
    </section>
</ng-container>

<ng-container *ngIf="elemData.type === 'widget-most-popular'">
    <section class="top-box">
        <div class="row">
            <div class="col-md-12">
                <h2>Most popular</h2>
            </div>

            <ng-container *ngFor="let popular of mostPopularTech; let j = index">
                <div *ngIf="j < 4 || (showAllPopulars && j < 10)" class="item-box col-md-5" [class.offset-md-1]="j % 2 !== 0">
                    <a class="item-box__type" [href]="'/catalogue/?resource_type__term=' + popular.resource_type">{{
                        popular.resource_type
                    }}</a>
                    <h3 class="item-box__title">
                        <a [href]="getServiceUrl(popular.entity_type, popular.resource_type, popular.id)">{{ popular.resource_name }}</a>
                    </h3>
                    <p class="item-box__description">{{ popular.description }}</p>
                    <div class="item-box__seen-updated">
                        <span class="item-box__seen"
                            ><i
                                ><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path
                                            d="M8.00001 14C12.707 14 15.744 8.716 15.871 8.492C16.042 8.188 16.043 7.816 15.872 7.512C15.746 7.287 12.731 2 8.00001 2C3.24501 2 0.251005 7.289 0.126005 7.514C-0.0429946 7.817 -0.0419946 8.186 0.128005 8.489C0.254005 8.713 3.26901 14 8.00001 14ZM8.00001 4C10.839 4 13.036 6.835 13.818 8C13.034 9.166 10.837 12 8.00001 12C5.15901 12 2.96201 9.162 2.18101 7.999C2.95801 6.835 5.14601 4 8.00001 4Z"
                                            fill="#546E7A"
                                        />
                                        <path
                                            d="M8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z"
                                            fill="#546E7A"
                                        />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <path d="M0 0H16V16H0V0Z" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </i>
                            {{ popular.views }}</span
                        >
                        <span class="item-box__updated">updated {{ popular.last_date_updated | date: 'dd.MM.yyyy' }}</span>
                    </div>
                </div>
            </ng-container>

            <div class="col-md-12 mt-2">
                <a *ngIf="!showAllPopulars" href="" (click)="toggleShowAllPopular($event)">Show more</a>
                <a *ngIf="showAllPopulars" href="" (click)="toggleShowAllPopular($event)">Show less</a>
            </div>
        </div>
    </section>
</ng-container>

<ng-container *ngIf="elemData.type === 'widget-latest-added'">
    <section class="top-box">
        <div class="row">
            <div class="col-md-12">
                <h2>Latest added</h2>
            </div>

            <ng-container *ngFor="let item of latestAddedTech; let j = index">
                <div *ngIf="j < 4 || (showAllLatestAdded && j < 10)" class="item-box col-md-5" [class.offset-md-1]="j % 2 !== 0">
                    <a *ngFor="let fun of item.functions" class="item-box__type" [href]="'/catalogue/?function__term=' + encodeKey(fun)">{{
                        fun
                    }}</a>
                    <h3 class="item-box__title">
                        <a [href]="getServiceUrl(item.entity_type, item.resource_type, item.id)">{{ item.resource_name }}</a>
                    </h3>
                    <p class="item-box__description">{{ item.description }}</p>
                    <div class="item-box__seen-updated">
                        <span class="item-box__seen"
                            ><i
                                ><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path
                                            d="M8.00001 14C12.707 14 15.744 8.716 15.871 8.492C16.042 8.188 16.043 7.816 15.872 7.512C15.746 7.287 12.731 2 8.00001 2C3.24501 2 0.251005 7.289 0.126005 7.514C-0.0429946 7.817 -0.0419946 8.186 0.128005 8.489C0.254005 8.713 3.26901 14 8.00001 14ZM8.00001 4C10.839 4 13.036 6.835 13.818 8C13.034 9.166 10.837 12 8.00001 12C5.15901 12 2.96201 9.162 2.18101 7.999C2.95801 6.835 5.14601 4 8.00001 4Z"
                                            fill="#546E7A"
                                        />
                                        <path
                                            d="M8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z"
                                            fill="#546E7A"
                                        />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <path d="M0 0H16V16H0V0Z" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </i>
                            {{ item.views }}</span
                        >
                        <span class="item-box__updated">added {{ item.last_date_updated | date: 'dd.MM.yyyy' }}</span>
                    </div>
                </div>
            </ng-container>

            <div class="col-md-12 mt-2">
                <a *ngIf="!showAllLatestAdded" href="" (click)="toggleShowAllLatestAdded($event)">Show more</a>
                <a *ngIf="showAllLatestAdded" href="" (click)="toggleShowAllLatestAdded($event)">Show less</a>
            </div>
        </div>
    </section>
</ng-container>

<ng-container *ngIf="elemData.type === 'widget-latest-added-resources'">
    <section class="top-box">
        <div class="row">
            <div class="col-md-12">
                <h2>Latest added</h2>
            </div>

            <ng-container *ngFor="let item of latestAddedRes; let j = index">
                <div *ngIf="j < 4 || (showAllLatestAddedRes && j < 10)" class="item-box col-md-5" [class.offset-md-1]="j % 2 !== 0">
                    <a class="item-box__type" [href]="'/catalogue/?resource_type__term=' + item.resource_type">{{ item.resource_type }}</a>
                    <h3 class="item-box__title">
                        <a [href]="getServiceUrl(item.entity_type, item.resource_type, item.id)">{{ item.resource_name }}</a>
                    </h3>
                    <p class="item-box__description">{{ item.description }}</p>
                    <div class="item-box__seen-updated">
                        <span class="item-box__seen"
                            ><i
                                ><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path
                                            d="M8.00001 14C12.707 14 15.744 8.716 15.871 8.492C16.042 8.188 16.043 7.816 15.872 7.512C15.746 7.287 12.731 2 8.00001 2C3.24501 2 0.251005 7.289 0.126005 7.514C-0.0429946 7.817 -0.0419946 8.186 0.128005 8.489C0.254005 8.713 3.26901 14 8.00001 14ZM8.00001 4C10.839 4 13.036 6.835 13.818 8C13.034 9.166 10.837 12 8.00001 12C5.15901 12 2.96201 9.162 2.18101 7.999C2.95801 6.835 5.14601 4 8.00001 4Z"
                                            fill="#546E7A"
                                        />
                                        <path
                                            d="M8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z"
                                            fill="#546E7A"
                                        />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <path d="M0 0H16V16H0V0Z" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </i>
                            {{ item.views }}</span
                        >
                        <span class="item-box__updated">added {{ item.last_date_updated | date: 'dd.MM.yyyy' }}</span>
                    </div>
                </div>
            </ng-container>

            <div class="col-md-12 mt-2" *ngIf="latestAddedRes && latestAddedRes.length > 4">
                <a *ngIf="!showAllLatestAddedRes" href="" (click)="toggleShowAllLatestAddedRes($event)">Show more</a>
                <a *ngIf="showAllLatestAddedRes" href="" (click)="toggleShowAllLatestAddedRes($event)">Show less</a>
            </div>
        </div>
    </section>
</ng-container>

<ng-container *ngIf="elemData.type === 'widget-recently-updated-resources'">
    <section class="top-box">
        <div class="row">
            <div class="col-md-12">
                <h2>Recently updated</h2>
            </div>

            <ng-container *ngFor="let recent of recentlyUpdatedRes; let j = index">
                <div *ngIf="j < 4 || (showAllResRecents && j < 10)" class="item-box col-md-5" [class.offset-md-1]="j % 2 !== 0">
                    <a class="item-box__type" [href]="'/catalogue/?resource_type__term=' + recent.resource_type">{{
                        recent.resource_type
                    }}</a>
                    <h3 class="item-box__title">
                        <a [href]="getServiceUrl(recent.entity_type, recent.resource_type, recent.id)">{{ recent.resource_name }}</a>
                    </h3>
                    <p class="item-box__description">{{ recent.description }}</p>
                    <div class="item-box__seen-updated">
                        <span class="item-box__seen"
                            ><i
                                ><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path
                                            d="M8.00001 14C12.707 14 15.744 8.716 15.871 8.492C16.042 8.188 16.043 7.816 15.872 7.512C15.746 7.287 12.731 2 8.00001 2C3.24501 2 0.251005 7.289 0.126005 7.514C-0.0429946 7.817 -0.0419946 8.186 0.128005 8.489C0.254005 8.713 3.26901 14 8.00001 14ZM8.00001 4C10.839 4 13.036 6.835 13.818 8C13.034 9.166 10.837 12 8.00001 12C5.15901 12 2.96201 9.162 2.18101 7.999C2.95801 6.835 5.14601 4 8.00001 4Z"
                                            fill="#546E7A"
                                        />
                                        <path
                                            d="M8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z"
                                            fill="#546E7A"
                                        />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <path d="M0 0H16V16H0V0Z" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </i>
                            {{ recent.views }}</span
                        >
                        <span class="item-box__updated">updated {{ recent.last_date_updated | date: 'dd.MM.yyyy' }}</span>
                    </div>
                </div>
            </ng-container>

            <div class="col-md-12 mt-2" *ngIf="recentlyUpdatedRes && recentlyUpdatedRes.length > 4">
                <a *ngIf="!showAllResRecents" href="" (click)="toggleShowAllResRecent($event)">Show more</a>
                <a *ngIf="showAllResRecents" href="" (click)="toggleShowAllResRecent($event)">Show less</a>
            </div>
        </div>
    </section>
</ng-container>

<ng-container *ngIf="elemData.type === 'widget-latest-added-projects'">
    <section class="top-box">
        <div class="row">
            <div class="col-md-12">
                <h2>Latest added Projects</h2>
            </div>

            <ng-container *ngFor="let item of latestAddedProjects; let j = index">
                <div *ngIf="j < 4 || (showAllLatestAddedProjects && j < 10)" class="item-box col-md-5" [class.offset-md-1]="j % 2 !== 0">
                    <a class="item-box__type" [href]="'/catalogue/?entity_type__term=' + item.entity_type">{{ item.entity_type }}</a>
                    <h3 class="item-box__title">
                        <a [href]="getServiceUrl(item.entity_type, item.resource_type, item.id)">{{ item.resource_name }}</a>
                    </h3>
                    <p class="item-box__description">{{ item.description }}</p>
                    <div class="item-box__seen-updated">
                        <span class="item-box__seen"
                            ><i
                                ><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path
                                            d="M8.00001 14C12.707 14 15.744 8.716 15.871 8.492C16.042 8.188 16.043 7.816 15.872 7.512C15.746 7.287 12.731 2 8.00001 2C3.24501 2 0.251005 7.289 0.126005 7.514C-0.0429946 7.817 -0.0419946 8.186 0.128005 8.489C0.254005 8.713 3.26901 14 8.00001 14ZM8.00001 4C10.839 4 13.036 6.835 13.818 8C13.034 9.166 10.837 12 8.00001 12C5.15901 12 2.96201 9.162 2.18101 7.999C2.95801 6.835 5.14601 4 8.00001 4Z"
                                            fill="#546E7A"
                                        />
                                        <path
                                            d="M8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z"
                                            fill="#546E7A"
                                        />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <path d="M0 0H16V16H0V0Z" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </i>
                            {{ item.views }}</span
                        >
                        <span class="item-box__updated">added {{ item.last_date_updated | date: 'dd.MM.yyyy' }}</span>
                    </div>
                </div>
            </ng-container>

            <div class="col-md-12 mt-2" *ngIf="latestAddedProjects && latestAddedProjects.length > 4">
                <a *ngIf="!showAllLatestAddedProjects" href="" (click)="toggleShowAllLatestAddedProjects($event)">Show more</a>
                <a *ngIf="showAllLatestAddedProjects" href="" (click)="toggleShowAllLatestAddedProjects($event)">Show less</a>
            </div>
        </div>
    </section>
</ng-container>

<ng-container *ngIf="elemData.type === 'widget-latest-added-organizations'">
    <section class="top-box">
        <div class="row">
            <div class="col-md-12">
                <h2>Latest added Organizations</h2>
            </div>

            <ng-container *ngFor="let item of latestAddedOrganizations; let j = index">
                <div
                    *ngIf="j < 4 || (showAllLatestAddedOrganizations && j < 10)"
                    class="item-box col-md-5"
                    [class.offset-md-1]="j % 2 !== 0"
                >
                    <a class="item-box__type" [href]="'/catalogue/?entity_type__term=' + item.entity_type">{{ item.entity_type }}</a>
                    <h3 class="item-box__title">
                        <a [href]="getServiceUrl(item.entity_type, item.resource_type, item.id)">{{ item.resource_name }}</a>
                    </h3>
                    <p class="item-box__description">{{ item.description }}</p>
                    <div class="item-box__seen-updated">
                        <span class="item-box__seen"
                            ><i
                                ><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path
                                            d="M8.00001 14C12.707 14 15.744 8.716 15.871 8.492C16.042 8.188 16.043 7.816 15.872 7.512C15.746 7.287 12.731 2 8.00001 2C3.24501 2 0.251005 7.289 0.126005 7.514C-0.0429946 7.817 -0.0419946 8.186 0.128005 8.489C0.254005 8.713 3.26901 14 8.00001 14ZM8.00001 4C10.839 4 13.036 6.835 13.818 8C13.034 9.166 10.837 12 8.00001 12C5.15901 12 2.96201 9.162 2.18101 7.999C2.95801 6.835 5.14601 4 8.00001 4Z"
                                            fill="#546E7A"
                                        />
                                        <path
                                            d="M8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z"
                                            fill="#546E7A"
                                        />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <path d="M0 0H16V16H0V0Z" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </i>
                            {{ item.views }}</span
                        >
                        <span class="item-box__updated">added {{ item.last_date_updated | date: 'dd.MM.yyyy' }}</span>
                    </div>
                </div>
            </ng-container>

            <div class="col-md-12 mt-2" *ngIf="latestAddedOrganizations && latestAddedOrganizations.length > 4">
                <a *ngIf="!showAllLatestAddedOrganizations" href="" (click)="toggleShowAllLatestAddedOrganizations($event)">Show more</a>
                <a *ngIf="showAllLatestAddedOrganizations" href="" (click)="toggleShowAllLatestAddedOrganizations($event)">Show less</a>
            </div>
        </div>
    </section>
</ng-container>

<ng-container *ngIf="elemData.type === 'become-provider-section' && showBecomeProviderBanner === true">
    <section [innerHTML]="elemData.value"></section>
</ng-container>

<ng-container *ngIf="elemData.type === 'become-provider-section-unregistered' && showRegisterAndBecomeProviderBanner === true">
    <section [innerHTML]="elemData.value"></section>
</ng-container>

<ng-container *ngIf="elemData.type === 'become-provider-section-applied' && showAppliedForProviderBanner === true">
    <section [innerHTML]="elemData.value"></section>
</ng-container>

