<div fxLayoutAlign="center" [@routeAnimation]>
    <div class="flex-container" fxLayoutAlign="center" fxFlex="100%" fxLayout='row wrap'>
        <div *ngIf="cmsPageContent.type !== 'article'" class="w-100 animation-cover">
            <div class="w-100" [class.section-padding]="!cmsPageContent.show_search_field" fxLayoutAlign="center">
                <div class="flex-container sd-breikpoint" fxFlex="95%" fxFlex.xs="95%" fxFlex.sm="570px"
                    fxFlex.sd="738px" fxFlex.md="930px" fxFlex.lg="1200px" fxFlex.xl="1536px">
                    <div id="title-box sd-breikpoint" class="py-2" fxFlex="95%" fxFlex.xs="95%" fxFlex.sm="570px"
                        fxFlex.sd="738px" fxFlex.md="930px" fxFlex.lg="1200px" fxFlex.xl="1536px">
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100" [class.background--gradient]="cmsPageContent.type === 'article'"
            [class.min-height-without-header-footer]="cmsPageContent.type === 'article'">
            <div class="min-height">
                <div *ngIf="!cmsPageContent.loading && !cmsPageContent.error">
                    <section class="container" [class.background--white]="cmsPageContent.type === 'article'"
                        [class.card]="cmsPageContent.type === 'article'">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 *ngIf="!cmsPageContent.title.includes('[no-display]')" class="page-title"
                                    [class.page-title-article]="cmsPageContent.type === 'article'">{{
                                    cmsPageContent.title }}</h1>
                                <p *ngIf="cmsPageContent.subtitle" class="subtitle">{{
                                    cmsPageContent.subtitle }}</p>

                                <div *ngIf="cmsPageContent.show_search_field">
                                    <app-search-component></app-search-component>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section *ngIf="cmsPageContent.type === 'article'" class="container section background--white card"
                        style="margin-top: 0; border-top-left-radius: initial; border-top-right-radius: initial;">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center">
                                <div *ngIf="cmsPageContent.body" class="hide-overflow page-content-section"
                                    id="page-content-section">
                                </div>
                            </div>
                        </div>
                    </section>
                    <div *ngIf="cmsPageContent.type !== 'article'">
                        <div *ngIf="cmsPageContent.body" class="hide-overflow page-content-section"
                            id="page-content-section">
                        </div>
                    </div>
                    <section class="section container">
                        <div class="webformRenderer row" *ngIf="pageHasWebform">
                            <div class="col-md-12" style="max-width: 800px;"
                                *ngIf="pageWebform.get('webformElems')['controls'].length > 1">
                                <div *ngIf="pageWebformSubmitting" class="loading__overlay"></div>
                                <div class="mt-3 text-center" *ngIf="pageWebformSuccess !== ''">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
                                        <title>64px_n-check</title>
                                        <g fill="#299ba3" stroke="#299ba3">
                                            <path fill="none" stroke="#299ba3" stroke-width="2" stroke-miterlimit="10"
                                                d="M54 24c1.3 3.1 2 6.5 2 10 0 14.4-11.6 26-26 26S4 48.4 4 34 15.6 8 30 8c5.1 0 9.9 1.5 13.9 4"
                                                stroke-linejoin="miter" stroke-linecap="butt"></path>
                                            <path fill="none" stroke-width="2" stroke-linecap="square"
                                                stroke-miterlimit="10" stroke-linejoin="miter" d="M20 26l10 10L60 6">
                                            </path>
                                        </g>
                                    </svg>
                                    <p class="success">Form submitted successfully!
                                    </p>
                                </div>
                                <div *ngIf="!pageWebformSuccess" [formGroup]="pageWebform">
                                    <div class="formField" formArrayName="webformElems"
                                        *ngFor="let webformElem of pageWebform.get('webformElems')['controls'] ; let i = index;">
                                        <div [ngSwitch]="getElemType(i)">
                                            <ng-container *ngSwitchCase="'textfield'">
                                                <mat-form-field class="w-100" appearance="outline">
                                                    <mat-label>{{ webformElements[i]['#title'] }}</mat-label>
                                                    <input matInput [required]="webformElements[i]['#required']"
                                                        [formControlName]="i" [name]="'elem_'+i" [id]="'elem_'+i"
                                                        maxlength="50" class="w-100">

                                                </mat-form-field>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'email'">
                                                <mat-form-field class="w-100" appearance="outline">
                                                    <mat-label>{{ webformElements[i]['#title'] }}</mat-label>
                                                    <input matInput type="email"
                                                        [required]="webformElements[i]['#required']"
                                                        pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}"
                                                        [formControlName]="i" [name]="i" [id]="i" class="w-100"
                                                        maxlength="50">
                                                </mat-form-field>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'textarea'">
                                                <mat-form-field class="w-100" appearance="outline">
                                                    <mat-label>{{ webformElements[i]['#title'] }}</mat-label>
                                                    <textarea matInput [formControlName]="i" [name]="i" [id]="i"
                                                        [required]="webformElements[i]['#required']" maxlength="500"
                                                        class="w-100"></textarea>
                                                </mat-form-field>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'select'">
                                                <mat-form-field class="w-100" appearance="outline">
                                                    <mat-label>{{ webformElements[i]['#title'] }}</mat-label>
                                                    <mat-select [formControlName]="i" [name]="i" [id]="i"
                                                        [required]="webformElements[i]['#required']" class="w-100">
                                                        <mat-option
                                                            *ngFor="let option of formDropdownValues[webformElements[i]['#name']]; let oi = index;"
                                                            [value]="option.val">{{option.title}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'webform_actions'">

                                                <a mat-flat-button color="primary" href="#"
                                                    (click)="submitForm($event);"
                                                    [class.isDisabled]="!pageWebform.valid" class="px-5">{{
                                                    webformElements[i]['#submit__label'] }}</a>
                                                <div class="mt-3"
                                                    *ngIf="pageWebformError && pageWebformError.errorMessage !== ''">
                                                    <p class="error"
                                                        [innerHTML]="'Error: ' + pageWebformError.errorMessage">
                                                    </p>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div *ngIf="!cmsPageContent.loading && cmsPageContent.error" class="row">
                    <div class="col text-center">
                        <svg class="mt-5 mb-3" width="128px" height="128px" viewBox="0 0 128 128" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="icon/large/votes-copy-2" fill="#005DC5" fill-rule="nonzero">
                                    <path
                                        d="M74.6,63.1466667 L68.9111111,63.1466667 C73.1777778,61.5822222 76.7333333,58.1688889 76.7333333,53.3333333 C76.8755556,48.64 75.5955556,46.08 74.1733333,43.3777778 C72.8933333,40.96 71.6133333,38.4 71.0444444,33.5644444 C70.76,31.4311111 69.3377778,30.0088889 67.4888889,30.0088889 C62.3688889,30.0088889 52.9822222,41.2444444 51.7022222,47.6444444 C50.28,54.3288889 53.6933333,60.7288889 59.6666667,63.0044444 L53.9777778,63.0044444 C52.6977778,63.0044444 51.7022222,64 51.7022222,65.28 L51.7022222,124.586667 C51.7022222,125.866667 52.6977778,126.862222 53.9777778,126.862222 L74.7422222,126.862222 C76.0222222,126.862222 77.0177778,125.866667 77.0177778,124.586667 L77.0177778,65.4222222 C76.8755556,64.1422222 75.88,63.1466667 74.6,63.1466667 Z M56.2533333,48.7822222 C57.2488889,43.9466667 63.9333333,36.5511111 66.7777778,34.9866667 C67.4888889,40.1066667 69.0533333,43.0933333 70.1911111,45.5111111 C71.4711111,47.9288889 72.3244444,49.7777778 72.1822222,53.1911111 C72.04,56.1777778 69.48,58.4533333 66.3511111,59.1644444 L66.3511111,55.6088889 C66.3511111,54.3288889 65.3555556,53.3333333 64.0755556,53.3333333 C62.7955556,53.3333333 61.8,54.3288889 61.8,55.6088889 L61.8,59.1644444 C57.8177778,57.8844444 55.2577778,53.4755556 56.2533333,48.7822222 Z M72.3244444,122.453333 L56.2533333,122.453333 L56.2533333,67.6977778 L72.4666667,67.6977778 L72.3244444,122.453333 Z"
                                        id="Shape"></path>
                                    <path
                                        d="M108.022222,44.8 L94.6533333,44.8 C93.3733333,44.8 92.3777778,45.7955556 92.3777778,47.0755556 C92.3777778,48.3555556 93.3733333,49.3511111 94.6533333,49.3511111 L108.022222,49.3511111 C109.302222,49.3511111 110.297778,48.3555556 110.297778,47.0755556 C110.297778,45.7955556 109.302222,44.8 108.022222,44.8 Z"
                                        id="Shape"></path>
                                    <path
                                        d="M36.2,47.0755556 C36.2,45.7955556 35.2044444,44.8 33.9244444,44.8 L20.5555556,44.8 C19.2755556,44.8 18.28,45.7955556 18.28,47.0755556 C18.28,48.3555556 19.2755556,49.3511111 20.5555556,49.3511111 L33.9244444,49.3511111 C35.2044444,49.3511111 36.2,48.3555556 36.2,47.0755556 Z"
                                        id="Shape"></path>
                                    <path
                                        d="M61.9422222,77.3688889 L61.9422222,90.7377778 C61.9422222,92.0177778 62.9377778,93.0133333 64.2177778,93.0133333 C65.4977778,93.0133333 66.4933333,92.0177778 66.4933333,90.7377778 L66.4933333,77.3688889 C66.4933333,76.0888889 65.4977778,75.0933333 64.2177778,75.0933333 C62.9377778,75.0933333 61.9422222,76.0888889 61.9422222,77.3688889 Z"
                                        id="Shape"></path>
                                    <path
                                        d="M64.2177778,18.9155556 C65.4977778,18.9155556 66.4933333,17.92 66.4933333,16.64 L66.4933333,3.27111111 C66.4933333,1.99111111 65.4977778,0.995555556 64.2177778,0.995555556 C62.9377778,0.995555556 61.9422222,1.99111111 61.9422222,3.27111111 L61.9422222,16.64 C61.9422222,17.92 62.9377778,18.9155556 64.2177778,18.9155556 Z"
                                        id="Shape"></path>
                                    <path
                                        d="M41.1777778,66.8444444 L31.6488889,76.3733333 C30.7955556,77.2266667 30.7955556,78.6488889 31.6488889,79.6444444 C32.0755556,80.0711111 32.6444444,80.3555556 33.2133333,80.3555556 C33.7822222,80.3555556 34.3511111,80.0711111 34.7777778,79.6444444 L44.3066667,70.1155556 C45.16,69.2622222 45.16,67.84 44.3066667,66.8444444 C43.4533333,65.9911111 42.0311111,65.9911111 41.1777778,66.8444444 Z"
                                        id="Shape"></path>
                                    <path
                                        d="M85.6933333,27.8755556 C86.2622222,27.8755556 86.8311111,27.5911111 87.2577778,27.1644444 L96.7866667,17.6355556 C97.64,16.7822222 97.64,15.36 96.7866667,14.3644444 C95.9333333,13.5111111 94.5111111,13.5111111 93.5155556,14.3644444 L83.9866667,23.8933333 C83.1333333,24.7466667 83.1333333,26.1688889 83.9866667,27.1644444 C84.5555556,27.5911111 85.1244444,27.8755556 85.6933333,27.8755556 Z"
                                        id="Shape"></path>
                                    <path
                                        d="M34.92,14.5066667 C34.0666667,13.6533333 32.6444444,13.6533333 31.6488889,14.5066667 C30.7955556,15.36 30.7955556,16.7822222 31.6488889,17.7777778 L41.1777778,27.3066667 C41.6044444,27.7333333 42.1733333,28.0177778 42.7422222,28.0177778 C43.3111111,28.0177778 43.88,27.7333333 44.3066667,27.3066667 C45.16,26.4533333 45.16,25.0311111 44.3066667,24.0355556 L34.92,14.5066667 Z"
                                        id="Shape"></path>
                                    <path
                                        d="M87.4,66.8444444 C86.5466667,65.9911111 85.1244444,65.9911111 84.1288889,66.8444444 C83.2755556,67.6977778 83.2755556,69.12 84.1288889,70.1155556 L93.6577778,79.6444444 C94.0844444,80.0711111 94.6533333,80.3555556 95.2222222,80.3555556 C95.7911111,80.3555556 96.36,80.0711111 96.7866667,79.6444444 C97.64,78.7911111 97.64,77.3688889 96.7866667,76.3733333 L87.4,66.8444444 Z"
                                        id="Shape"></path>
                                </g>
                            </g>
                        </svg>
                        <h2 class="mb-2">{{ 'Front.Not_exist' | translate }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>