<div fxLayoutAlign="center" [@routeAnimation]>
    <div class="flex-container" fxLayoutAlign="center" fxFlex="100%" fxLayout='row wrap'>
        <div class="w-100 animation-cover">
            <div class="w-100" [class.section-padding]="!cmsPageContent.show_search_field" fxLayoutAlign="center">
                <div class="flex-container sd-breikpoint" fxFlex="95%" fxFlex.xs="95%" fxFlex.sm="570px"
                    fxFlex.sd="738px" fxFlex.md="930px" fxFlex.lg="1200px" fxFlex.xl="1536px">
                    <div id="title-box sd-breikpoint" class="py-2" fxFlex="95%" fxFlex.xs="95%" fxFlex.sm="570px"
                        fxFlex.sd="738px" fxFlex.md="930px" fxFlex.lg="1200px" fxFlex.xl="1536px">
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100">
            <div class="min-height">
                <div *ngIf="!cmsPageContent.loading && !cmsPageContent.error">
                    <section class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="page-title">Blog articles</h1>
                            </div>
                        </div>
                    </section>
                    <section class="section">
                        <section class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div *ngIf="cmsPageContent.body" class="hide-overflow page-content-section"
                                        id="page-content-section">

                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                    <div *ngIf="pager" class="pager">
                        <a href="/" class="pager__button button-outlined prev"
                            [attr.disabled]="pager['current_page'] === 0 ? null : ''"
                            [class.isDisabled]="pager['current_page']  === 0"
                            [routerLink]="['/news/', pager['current_page']]">&lt;&lt;</a>
                        <a *ngFor="let page of counter(pager['total_pages']); let cur=index;"
                            class="pager__button button-outlined" [class.active-page]="cur === pager['current_page']"
                            [attr.disabled]="cur === pager['current_page'] ? null : ''"
                            [class.isDisabled]="cur === pager['current_page']" [routerLink]="['/news/', cur + 1]"
                            href="/">
                            {{cur + 1}}
                        </a>
                        <a href="/" class="pager__button button-outlined next"
                            [attr.disabled]="pager['current_page'] === pager['total_pages'] ? null : ''"
                            [class.isDisabled]="pager['current_page']  === pager['total_pages']"
                            [routerLink]="['/news/', pager['current_page'] + 2]">&gt;&gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>