@import '../func/rem';
@import '../mixin/spacing';

@mixin page_layout() {
  :host {
    // @include push($space--xl);

    display: block;
  }
}

@mixin page_layout--no-spacing() {
  :host {
    @include push(0);
    @include soft(0);
  }
}
