@import 'src/assets/sass/func/rem';

html,
body {
  overflow: hidden;
}

.page-wrapper {
  position: relative;
  min-height: calc(100vh - var(--nav--height));
}

.main {
  position: relative;
  margin-top: var(--nav--height);
}
@media screen and (max-width: 900px) {
  .main {
    margin-top: 0;
  }
}

.content-wrapper {
  min-height: calc(100vh - var(--nav--height));
  padding-bottom: var(--footer--height);
}

.mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
  background-color: #ffffff;
}

.mat-sidenav {
  width: 80%;
}

.menu__close {
  right: 0;
  top: 10px;
  position: absolute;
}

.nav-item {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

