@import 'src/assets/sass/variables/color';

.search-container {
  width: 100%;
  // max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.search-container .searchForm {
  width: 100%;
  // margin-right: 5px;
}

.search-container .mat-form-field {
  width: 100%;
  margin-right: 5px;
}

.search-container .mat-form-field-infix {
  min-width: 300px;
}

.search-box {
  align-items: flex-end;

  @media (min-width: 768px) {
    flex-direction: row !important;
    align-items: stretch;
  }
}

.search-box__button {
  height: 50px;
  width: 100%;
  cursor: pointer;

  @media (min-width: 768px) {
    width: 128px;
  }
}

.search-box__input {
  flex: 1;
  height: 50px;
  border-radius: 4px;
  border: 2px solid var(--accent--dark);
  background-color: #ffffff;
  padding-left: 40px;
  font-size: 16px;
  width: 100%;

  @media (min-width: 600px) {
    width: 400px;
  }
}

.search-box__icon {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  left: 12px;
  top: 12px;
}

.search-box__input-wrapper {
  position: relative;

  margin-bottom: 5px;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  @media (min-width: 768px) {
    width: auto;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.search-box__clear-input {
  position: absolute;
  right: 0;
  top: 3px;
}

.search-box.disabled {
  opacity: 0.8;

  &:hover {
    cursor: wait;
  }
}
