@import 'src/assets/sass/variables/color';

@keyframes animation__cover {
  0% {
    background-position: 0% 0%, 0% 0%, center center, -19.2vmin 40vmin, center center;
  }
  100% {
    background-position: 100% 0%, 100% 0%, center center, calc(100% + 51.2vmin) -64vmin, center center;
  }
}

// Cover
.animation-cover {
  height: 150px;

  // Animated background
  contain: paint;
  -webkit-animation-name: animation__cover;
  animation-name: animation__cover;
  -webkit-animation-duration: 180s;
  animation-duration: 180s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: -72s;
  animation-delay: -72s;
  background-image: repeating-linear-gradient(
      162deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0) 53.33333px,
      var(--brand--dark) 0,
      var(--brand--dark) 54.33333px
    ),
    repeating-linear-gradient(-72deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 32px, var(--accent--dim) 0, var(--accent--dim) 33px),
    linear-gradient(72deg, #2e2e2e 10%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, var(--brand--light) 90%),
    url('/assets/img/europe-map-wp.svg'), linear-gradient(72deg, var(--accent--dark) 40%, var(--brand--vivid) 60%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 100vw, 100vw, auto, 75vmin, auto;
  background-attachment: fixed, fixed, scroll, scroll, scroll;
  background-position: center center, center center, center center, 60% 20%, center center;
  // background-image: linear-gradient(72deg, #2e2e2e 10%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, #ebd6ad 90%),
  //   linear-gradient(72deg, #299ba3 50%, #ebb447 70%);

  h1 {
    margin: 0;
    color: #ffffff;
  }
  .subtitle {
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

    max-width: 800px;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .search-container {
    margin-top: 32px;
  }
}

// Sections
.section {
  padding-bottom: 64px;
  padding-top: 64px;
}
.section-dark {
  background-color: var(--brand--background);
  padding-bottom: 64px;
  padding-top: 64px;
}
.section-color {
  background-image: linear-gradient(72deg, #2e2e2e 10%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 70%, #ebd6ad 90%),
    linear-gradient(72deg, #299ba3 50%, #ebb447 70%);
}

// Rows
.row {
  margin-bottom: 32px;
  &:last-of-type {
    margin-bottom: initial;
  }
  max-width: 100vw;
}

// Cards used for the article pages (not ideal, maybe improve CSS organization later)
.card {
  margin-top: 64px;
  margin-bottom: 64px;
  border-radius: 5px;
  &:first-of-type {
    margin-bottom: initial;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
  }
  &:last-of-type {
    margin-top: initial;
    border-top-left-radius: initial;
    border-top-right-radius: initial;
  }
  & pre {
    max-width: 70ch;
    margin-left: 0;
  }
}

// Boxes
.boxes {
  display: grid;
  gap: 16px;
  @media (min-width: 960px) {
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
  }
  margin-bottom: 16px;
  &:last-of-type {
    margin-bottom: 0;
  }

  .box {
    border-radius: 5px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &.box-color {
      background-color: var(--brand--background);
    }
    &.box-white {
      background-color: white;
    }

    app-dynamic:first-of-type {
      margin-top: auto;
    }
    .box-title {
      display: flex;
      align-items: center;
      svg {
        min-width: 64px;
      }
      h3 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 16px;
        margin-right: 16px;
      }
      margin-bottom: 16px;
    }
  }
}

// Photos gallery
.photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(#{"min(100vw, 360px)"}, 1fr));
  grid-auto-rows: auto;
  gap: 8px;

  button {
    cursor: pointer;
  }

  .modal-window {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    top: var(--nav--height);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    div {
      display: flex;
      flex-direction: column;
      align-items: end;
      padding: 1rem;
      max-width: 100%;
      max-height: 100%;
    }
    img {
      max-height: calc(100vh - var(--nav--height) - 40px - 2rem);
    }
  }
  .modal-close {
    color: var(--glossy);
    width: fit-content;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    font-weight: bold;
    &:hover {
      color: var(--white);
    }
  }
}

// Buttons
.button-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  min-height: 48px;
  border: 2px solid var(--accent--dark);
  background-color: white;
  color: var(--accent--dark);
  font-weight: 600;
  border-radius: 4px;
  text-align: center;
  &:hover {
    background-color: var(--accent--dark);
    color: white;
  }
  &.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
  }
}
.button-filled {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  min-height: 48px;
  border: 2px solid var(--accent--dark);
  background-color: var(--accent--dark);
  color: white;
  font-weight: 600;
  border-radius: 4px;
  text-align: center;
  &:hover {
    border-color: var(--accent--dim);
    background-color: var(--accent--dim);
  }
  &.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
  }
}
.button-extended {
  width: 100%;
}

.max-width-special {
  max-width: 768px;
}

::-ms-clear {
  display: none;
}

// Utils
.min-height-without-header-footer {
  min-height: calc(100vh - 150px - 250px);
}

