$link-color: #3f51b5; //to be replaced with primary color
$link-hover-color: currentColor;
$link-hover-decoration: none;
$label-margin-bottom: 0;

/* FADE-IN ANIMATION */
.fade-in {
  animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Custom bootstrap 4 breakpoints and container widths
 *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

$container-max-widths: (
  sm: 600px,
  md: 768px,
  lg: 960px,
  xl: 1200px,
  xxl: 1536px
);

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 768px,
  lg: 960px,
  xl: 1280px,
  xxl: 1920px
);
