/* * * * * * * * * * * * * 
*   Unified styleguide   *
* * * * * * * * * * * * **/

:root {
  /* colors */
  --color-primary: #ebb447;
  --color-primary--grayish: #f8f4ed;

  --color-grays--white: #ffffff;
  --color-grays--offwhite: #f5f7fa;
  --color-grays--glossy: #ccd2d8;
  --color-grays--bright: #9ca5b0;
  --color-grays--gloomy: #636e7b;
  --color-grays--offblack: #212932;

  --color-highlight--pink: #d65c9d;
  --color-highlight--purple: #7c5cd6;
  --color-highlight--mint: #25c58f;
  --color-highlight--teal: #299ba3;
  --color-highlight--dark: #144e52;

  /* other variables */
  --border-radius: 4px;
}

body,
p,
* {
  font-family: 'Noto Sans', sans-serif;
}

/* text */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  color: var(--color-grays--offblack);
}

h1 {
  font-size: 2.25rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.563rem;
}

h4 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.25;
}

p,
.intro,
.bigger-text,
.biggest-text,
.caption {
  color: var(--color-grays--offblack);
  font-weight: 500;
}

.intro {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

p {
  font-size: 0.875;
  line-height: 1.25rem;
}

.bigger-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

.biggest-text {
  font-size: 1.125rem;
  line-height: 2rem;
}

.caption {
  font-size: 0.75rem;
  line-height: 1rem;
}

/* input elements */

.mat-input-element {
  background: 0 0;
  border: none;
  outline: 0;
  padding: 0 0.6rem;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  font-size: 1rem;
  height: 2.8rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-grays--bright);
}

/* links */
a {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-highlight--teal);
  text-decoration: none;
  transition: color 0.7s;
}

a:hover {
  text-decoration: none;
  color: var(--color-highlight--dark);
}

.mat-flat-button {
  transition: background-color 0.7s;
  font-weight: 600;
  border-radius: var(--border-radius);
  padding: 10px 116px;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 20px;
  color: white !important;
}
.mat-flat-button:hover,
.mat-flat-button:active {
  text-decoration: none;
  color: white !important;
  cursor: pointer;
}

.color-purple {
  background-color: var(--color-highlight--purple);
  &:hover {
    background-color: var(--color-highlight--dark);
  }
}

.color-teal {
  background-color: var(--color-highlight--teal);
  &:hover {
    background-color: var(--color-highlight--dark);
  }
}

.inner-link-outlined--purple {
  border: 2px solid var(--color-highlight--purple);
  border-radius: var(--border-radius);
  padding: 10px 116px;
  margin-top: 20px;
  font-weight: 600;
  display: inline-block;
  color: var(--color-highlight--purple) !important;
  cursor: pointer;
  &:hover {
    border-color: var(--color-highlight--dark);
    color: var(--color-highlight--dark) !important;
  }
}

.inner-link-outlined--teal {
  border: 2px solid var(--color-highlight--teal);
  border-radius: var(--border-radius);
  padding: 10px 116px;
  margin-top: 20px;
  font-weight: 600;
  display: inline-block;
  color: var(--color-highlight--teal) !important;
  cursor: pointer;
  &:hover {
    border-color: var(--color-highlight--dark);
    color: var(--color-highlight--dark) !important;
  }
}

/* Icons */

.elg-icon {
  height: 64px;
  width: 64px;
}

.elg-icon--app-services {
  background-image: url('/cms/sites/default/files/img/app-services.svg');
  background-repeat: no-repeat;
}

.elg-icon--b-chat {
  background-image: url('/cms/sites/default/files/img/b-chat.svg');
  background-repeat: no-repeat;
}
.elg-icon--book-open {
  background-image: url('/cms/sites/default/files/img/book-open.svg');
  background-repeat: no-repeat;
}
.elg-icon--book {
  background-image: url('/cms/sites/default/files/img/book.svg');
  background-repeat: no-repeat;
}
.elg-icon--cloud-forecast {
  background-image: url('/cms/sites/default/files/img/cloud-forecast.svg');
  background-repeat: no-repeat;
}
.elg-icon--compass {
  background-image: url('/cms/sites/default/files/img/compass.svg');
  background-repeat: no-repeat;
}
.elg-icon--content-delivery {
  background-image: url('/cms/sites/default/files/img/content-delivery.svg');
  background-repeat: no-repeat;
}
.elg-icon--electronic-circuit {
  background-image: url('/cms/sites/default/files/img/electronic-circuit.svg');
  background-repeat: no-repeat;
}
.elg-icon--loudspeaker {
  background-image: url('/cms/sites/default/files/img/loudspeaker.svg');
  background-repeat: no-repeat;
}
.elg-icon--machine-learning {
  background-image: url('/cms/sites/default/files/img/machine-learning.svg');
  background-repeat: no-repeat;
}
.elg-icon--network {
  background-image: url('/cms/sites/default/files/img/network.svg');
  background-repeat: no-repeat;
}
.elg-icon--note-code {
  background-image: url('/cms/sites/default/files/img/note-code.svg');
  background-repeat: no-repeat;
}
.elg-icon--show {
  background-image: url('/cms/sites/default/files/img/show.svg');
  background-repeat: no-repeat;
}
.elg-icon--single-copies {
  background-image: url('/cms/sites/default/files/img/single-copies.svg');
  background-repeat: no-repeat;
}
.elg-icon--single-copy {
  background-image: url('/cms/sites/default/files/img/single-copy.svg');
  background-repeat: no-repeat;
}

/* spacing */
$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x * 0.25,
    y: $spacer-y * 0.25
  ),
  2: (
    x: (
      $spacer-x * 0.5
    ),
    y: (
      $spacer-y * 0.5
    )
  ),
  3: (
    x: (
      $spacer-x
    ),
    y: (
      $spacer-y
    )
  ),
  4: (
    x: (
      $spacer-x * 2
    ),
    y: (
      $spacer-y * 2
    )
  ),
  5: (
    x: (
      $spacer-x * 4
    ),
    y: (
      $spacer-y * 4
    )
  ),
  6: (
    x: (
      $spacer-x * 6
    ),
    y: (
      $spacer-y * 6
    )
  ),
  7: (
    x: (
      $spacer-x * 8
    ),
    y: (
      $spacer-y * 8
    )
  )
);
@mixin spacing() {
  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $lengths in $spacers {
      $length-x: map-get($lengths, x);
      $length-y: map-get($lengths, y);
      .#{$abbrev}-#{$size} {
        #{$prop}: $length-y $length-x !important;
      }
      .#{$abbrev}t-#{$size} {
        #{$prop}-top: $length-y !important;
      }
      .#{$abbrev}r-#{$size} {
        #{$prop}-right: $length-x !important;
      }
      .#{$abbrev}b-#{$size} {
        #{$prop}-bottom: $length-y !important;
      }
      .#{$abbrev}l-#{$size} {
        #{$prop}-left: $length-x !important;
      }
    }
  }
}
@include spacing;
